pre:first-of-type {
    display:none;
}
header {
    margin-bottom:10px;
}


#controls {
    /*float:right;*/
}

#grouping-group {
    float:left;
}
#ratio-group {
    float:right;
}
#ratioRange { 
    width:300px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 20px;
}

tr.group,
tr.group:hover {
    background-color: #ddd !important;
}

