<div id="new-dataset">
    <form ng-submit="addDataset()" class="form-horizontal">
    <fieldset>
    <legend>New Dataset</legend>

    <div class="form-group" ng-repeat="item in add.bootstrap">
        <label class="col-md-4 control-label" for="{{ item.name }}">{{ item.label }}</label>
        <div class="col-md-5">
            <select id="item.name" ng-model="data[item.name]" name="{{ item.name }}" class="form-control">
                <option ng-repeat="i in item.data" value="{{ i.id }}">{{ i.name }}</option>
            </select>
        </div>
    </div>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="dataset-name">Dataset name</label>  
      <div class="col-md-5">
      <input id="dataset-name" name="dataset-name" ng-model="data.name" type="text" placeholder="" class="form-control input-md">
      <span class="help-block">Enter a descriptive name for this dataset</span>  
      </div>
    </div>

    <!-- Textarea -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="description">Description</label>
      <div class="col-md-4">                     
        <textarea class="form-control" id="description" ng-model="data.description" name="description"></textarea>
      </div>
    </div>

    <!-- File Button --> 
    <div class="form-group">
      <label class="col-md-4 control-label" for="file">Data file</label>
      <div class="col-md-4">
        <input id="file" ng-model="data.file" nv-file-select uploader="uploader" name="file" class="input-file" type="file">
      </div>
    </div>

    <!-- Button (Double) -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="upload"></label>
      <div class="col-md-8">
        <button id="upload" name="upload" class="btn btn-success" type="submit">Upload</button>
        <button id="cancel" name="cancel" class="btn btn-warning">Cancel</button>
      </div>
    </div>

    </fieldset>
    </form>

</div>