<div class="container">
    <h2>Experimental Details</h2>
    <div ng-include="'/static/partials/details.html'"></div>
    <h2>File upload</h2>
    <div ng-include="'/static/partials/upload.html'"></div>
    <h2>Searching</h2>
    <div ng-include="'/static/partials/search.html'"></div>
    <h2>Quantification</h2>
    <div ng-include="'/static/partials/quantification.html'"></div>
    <button ng-click="new.save()" id="save" class="btn btn-success" type="button">Save</button>
    <button ng-click="new.delete()" id="delete" class="btn btn-warning" type="button">Delete</button>
</div>