<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Cravatt Lab Proteomics Database</title>
    <!-- Bootstrap core CSS -->
    <link href="/static/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="/static/bower_components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/static/css/main.css" type="text/css" rel="stylesheet" />
    <!-- bower:js -->
    <script src="/static/bower_components/angular/angular.js"></script>
    <script src="/static/bower_components/angular-route/angular-route.js"></script>
    <script src="/static/bower_components/angular-file-upload/angular-file-upload.js"></script>
    <!-- endinject -->

    <!-- bootstrapping code for application -->
    <!-- not to be confused with actual Bootstrap above lol -->
    {% if bootstrap %}
    <script type="text/javascript">window.bootstrap = {{ bootstrap | safe }};</script>
    {% endif %}

    <script src="/static/js/main.js" type="text/javascript"></script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body ng-app="cravattdb" role="document">

    <div ng-view class="container" role="main"></div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Compiled Bootstrap javascript files -->
    <script src="/static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>